<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         stopOnError="true"
         stopOnFailure="true">
    <testsuite name="encrypt">
        <directory>./test/encrypt</directory>
    </testsuite>
    <testsuite name="tp5">
        <directory>./test/tp5</directory>
    </testsuite>
    <testsuite name="spider">
        <directory>./test/spider</directory>
    </testsuite>
    <testsuite name="qiniu">
        <directory>./test/qiniu</directory>
    </testsuite>
    <testsuite name="all">
        <directory>./test/</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="./runtime/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="./runtime/coverage.xml"/>
        <log type="coverage-php" target="./runtime/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="./runtime/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="./runtime/testdox.html"/>
        <log type="testdox-text" target="./runtime/testdox.txt"/>
    </logging>
</phpunit>