<!-- 注意：本内容仅限于博也公司内部传阅,禁止外泄以及用于其他的商业目的
  Copyright:  www.itboye.com Boye Inc. All rights reserved.
 -->
{extend name="template/base_index" /}

{block name="area_header"}

{/block}

{block name="area_body"}

<div class="container">
    <form class="form form-horizontal">
        <div class="form-group">
            <div >
                <label>用户名</label>
            </div>
                <div>
                    <input name="username" class="form-control" value="test" />
                </div>
            </div>
        <div class="form-group">
            <div class="label" >
                <label>密码</label>
            </div>
                <div>
                    <input name="password" class="form-control" value="test" />
                </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12" >
                <a href="__SELF__" class="btn btn-primary btn-block ajax-post" target-form="form">登录</a>
            </div>
        </div>

    </form>
</div>

{/block}

{block name="area_footer"}

{/block}