<!-- 注意：本内容仅限于博也公司内部传阅,禁止外泄以及用于其他的商业目的
  Copyright:  www.itboye.com Boye Inc. All rights reserved.
 -->
{extend name="template/base_index" /}

{block name="area_header"}
<style type="text/css">
    .cate_items li {
        float: left;
        margin: 0 10px 0 0px;
    }
</style>
{/block}

{block name="area_body"}

<div class="container">
    <form class="form">
        <div class="row ">
            <div class="col-lg-2 col-md-3">作者笔名:</div>
            <div class="col-lg-10 col-md-9">
                <input name="pen_name" value="{$Request.param.pen_name}" class="form-control"/>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-2 col-md-3">书名:</div>
            <div class="col-lg-10 col-md-9">
                <input name="book_name" value="{$Request.param.book_name}" class="form-control"/>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-2 col-md-3">类别:</div>
            <div class="col-lg-10 col-md-9">
                <ul class="cate_items list-unstyled">
                    {volist name="bs_cate" id="cate"}
                    <li>{$cate->getCateName()}</li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-10 col-md-9">
                <button type="submit">查询</button>
            </div>
        </div>
    </form>
    <div class="row ">
        {volist name="bs_book_list" id="vo"}
        <div class="book col-md-4 col-lg-3">
            <a href="{:url('book/detail',['id'=>$vo['id']])}" title="查看书籍">
                <div class="thumbnail">
                    <img class="img-responsive" src="{$vo->getData('thumbnail')}" alt="封面"/></div>
                <div class="title">{$vo->getData('title')}</div>
                <div class="author">{$vo->getData('author_name')}</div>
                <div class="summary">{:htmlspecialchars_decode($vo->getData('summary'))}</div>
            </a>
        </div>
        {/volist}
        <div class="pagination">
            {$bs_book_list->render()}
        </div>
    </div>
</div>

{/block}

{block name="area_footer"}

{/block}