<!-- 注意：本内容仅限于博也公司内部传阅,禁止外泄以及用于其他的商业目的
  Copyright:  www.itboye.com Boye Inc. All rights reserved.
 -->
{extend name="template/base_index" /}

{block name="area_header"}
<title>{$book->getTitle()}</title>
<style type="text/css">
    .readpage {
        background: #dfdfdf;
        padding: 10px;
    }

    .readpage .btn {
        margin-top: 5px;
    }

    .readpage .title {
    }

    .readpage .article {
        margin: 30px auto 0;
        background: #f6f4ec;
    }

    .readpage .article .summary {
        margin-top: 30px;
        font-size: 14px;
        line-height: 25px;
        color: #999;
    }

    .readpage .article .content {
        padding: 10px;
    }

    .readpage .readtips {

    }

    @media screen and (max-width: 767px) {
        .readpage {
            padding: 0px;
        }

        .readpage .article {
            margin: 0px auto 0;
        }
    }
</style>
{/block}

{block name="area_body"}
<div class="readpage">
    <div class="">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 center-block">
            <a class="btn btn-primary btn-lg  col-lg-5 col-xs-6 col-sm-6" href="{:url($book_id.'/'.$pre_page_no)}"
               target="_self">＜上一章</a>
            <a class="btn btn-primary  btn-lg col-lg-5 col-xs-6  col-sm-6" href="{:url($book_id.'/'.$next_page_no)}"
               target="_self">下一章＞</a>
            <a class="btn btn-primary btn-lg    col-lg-2 col-xs-12  col-sm-12" href="{:url($book_id)}" target="_blank">目录</a>
        </div>
        <article>
            <div class="row article">
                <div class="col-lg-12 title center-block text-center">
                    <h1>{$page->getPageTitle()}</h1>
                </div>
                <div class="col-lg-12 col-md-12   col-xs-12 summary">
                    <div class="col-lg-4 col-md-4  col-xs-12 text-center">小说: {$book->getTitle()}</div>
                    <div class="col-lg-4 col-md-4  col-xs-6 text-center">作者: {$book->getAuthorName()}</div>
                    <div class="col-lg-4 col-md-4  col-xs-6 text-center"> {:toDatetime($page->getUpdateTime())}
                    </div>
                </div>
                <div class="col-lg-12 content">
                    {$page->getPageContent()}
                </div>
            </div>
        </article>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 center-block">
            <a class="btn btn-primary btn-lg  col-lg-5 col-xs-6 col-sm-6" href="{:url($book_id.'/'.$pre_page_no)}"
               target="_self">＜上一章</a>
            <a class="btn btn-primary  btn-lg col-lg-5 col-xs-6  col-sm-6" href="{:url($book_id.'/'.$next_page_no)}"
               target="_self">下一章＞</a>
            <a class="btn btn-primary btn-lg    col-lg-2 col-xs-12  col-sm-12" href="{:url($book_id)}" target="_blank">目录</a>
        </div>
        <div class="readtips text-center hidden-xs hidden-sm">
            可以使用← →快捷键阅读
        </div>
    </div>
</div>
{/block}

{block name="area_footer"}
<script type="application/javascript">
    $(function () {
        document.onkeydown = function (e) {
            var isIe = (document.all) ? true : false;
            var key;
            if (isIe) {
                key = window.event.keyCode;
            } else {
                key = e.which;
            }
            if (key === 37) {
                console.log('left');
                window.location.href = "{:url($book_id.'/'.$pre_page_no)}";
            }
            if (key === 39) {
                console.log('right');
                window.location.href = "{:url($book_id.'/'.$next_page_no)}";
            }
        }
    });
</script>
{/block}